element.style {
}
html:not(.avada-has-site-width-percent) #main, html:not(.avada-has-site-width-percent) .fusion-footer-copyright-area, html:not(.avada-has-site-width-percent) .fusion-footer-widget-area, html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-bottom .fusion-sliding-bar, html:not(.avada-has-site-width-percent) .fusion-sliding-bar-position-top .fusion-sliding-bar, html:not(.avada-has-site-width-percent) .tfs-slider .slide-content-container
Specificity: (0,3,1)
 {
    padding-left: 30px;
    padding-right: 30px;
}

#main, .layout-boxed-mode #main, .layout-boxed-mode.avada-footer-fx-sticky .above-footer-wrapper, .layout-boxed-mode.avada-footer-fx-sticky-with-parallax-bg-image .above-footer-wrapper, .layout-wide-mode #main, .layout-wide-mode #wrapper, body, html, html body.custom-background {
    background-color: var(--content_bg_color);
}
#main {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: var(--main_padding-top);
    padding-bottom: var(--main_padding-bottom);
}
#main, .wrapper_blank #main {
    background-image: var(--content_bg_image);
    background-repeat: var(--content_bg_repeat);
}
#main {
    padding: 55px 10px 45px;
    clear: both;
}
.clearfix, .container, .container-fluid, .fusion-clearfix, .row {
    clear: both;
}
.clearfix, .container, .container-fluid, .row {
    clear: both;
}
* {
    box-sizing: border-box;
}
user agent stylesheet
main {
    display: block;
    unicode-bidi: isolate;
}
style attribute {
    --viewportWidth: 1920;
    --awb-scrollbar-width: -1px;
}
body {
    --awb-alert-border-top-left-radius-default: 0px;
    --awb-alert-border-top-right-radius-default: 0px;
    --awb-alert-border-bottom-right-radius-default: 0px;
    --awb-alert-border-bottom-left-radius-default: 0px;
    --awb-audio-max-width-default: 100%;
    --awb-audio-background-color-default: var(--awb-color8);
    --awb-audio-accent-color-default: var(--awb-color1);
    --awb-audio-border-size-default: 0;
    --awb-audio-border-color-default: var(--awb-color1);
    --awb-audio-border-top-left-radius-default: 0px;
    --awb-audio-border-top-right-radius-default: 0px;
    --awb-audio-border-bottom-right-radius-default: 0px;
    --awb-audio-border-bottom-left-radius-default: 0px;
    --button-border-radius-top-left: 24px;
    --button-border-radius-top-right: 24px;
    --button-border-radius-bottom-right: 24px;
    --button-border-radius-bottom-left: 24px;
    --awb-tabs-title-border-top-left-radius-default: 0px;
    --awb-tabs-title-border-top-right-radius-default: 0px;
    --awb-tabs-title-border-bottom-right-radius-default: 0px;
    --awb-tabs-title-border-bottom-left-radius-default: 0px;
    --awb-testimonial-border-style-default: solid;
    --awb-testimonial-border-color-default: var(--awb-color3);
    --awb-testimonial-border-top-left-radius-default: 0px;
    --awb-testimonial-border-top-right-radius-default: 0px;
    --awb-testimonial-border-bottom-right-radius-default: 0px;
    --awb-testimonial-border-bottom-left-radius-default: 0px;
    --fusion-video-max-width-default: 100%;
}
.fusion-blog-timeline-layout .fusion-timeline-date, .fusion-body #main .tribe-common .tribe-events-c-day-marker__date, .fusion-body .fusion-wrapper #main .tribe-common .tribe-common-h6--min-medium, .fusion-body .fusion-wrapperr .meta, .fusion-body .tribe-block__tickets__registration__tickets__header, .fusion-body .tribe-common .tribe-common-b2, .fusion-body .tribe-common .tribe-common-b3, .fusion-body .tribe-events .tribe-events-calendar-list__event-datetime, .fusion-main-menu .fusion-custom-menu-item-contents, .fusion-project-details-tb .project-info h4, .fusion-rollover .price .amount, .post .post-content, .project-content .project-info h4, .review blockquote div, .search input, .sidebar .jtwt, .sidebar .widget .recentcomments, .sidebar .widget_archive li, .sidebar .widget_categories li, .sidebar .widget_layered_nav li, .sidebar .widget_links li, .sidebar .widget_meta li, .sidebar .widget_nav_menu li, .sidebar .widget_pages li, .sidebar .widget_product_categories li, .sidebar .widget_recent_entries li, .title-row, body {
    color: var(--body_typography-color);
}
#nav ul li ul li a, #side-header .fusion-contact-info, #side-header .header-social .top-menu, #sticky-nav ul li ul li a, #wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .avada-container h3, .comment-form input[type="submit"], .ei-title h3, .fusion-accordian .panel-body, .fusion-body #main .tribe-common .tribe-events-c-day-marker__date, .fusion-body .fusion-wrapper #main .tribe-common .tribe-common-h6--min-medium, .fusion-body .tribe-common .tribe-common-b2, .fusion-body .tribe-common .tribe-common-b3, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content a, .fusion-main-menu .sub-menu, .fusion-main-menu .sub-menu li a, .fusion-megamenu-widgets-container, .fusion-megamenu-wrapper .fusion-megamenu-submenu > a:hover, .fusion-megamenu-wrapper li .fusion-megamenu-title-disabled, .fusion-page-title-captions h3, .gform_page_footer input[type=button], .meta .fusion-date, .more, .review blockquote div strong, .review blockquote q, .single-tribe_events #tribe-events-content .tribe-events-event-meta dt, .ticket-selector-submit-btn[type=submit], body {
    line-height: var(--body_typography-line-height);
}
#slidingbar-area .slide-excerpt h2, #slidingbar-area ul, .counter-box-content, .fusion-alert, .fusion-blog-layout-timeline .fusion-timeline-date, .fusion-body #main .tribe-events .datepicker, .fusion-body .tribe-common .tribe-common-b2, .fusion-body .tribe-common .tribe-common-b3, .fusion-footer-widget-area .slide-excerpt h2, .fusion-footer-widget-area ul, .fusion-progressbar .progress-title, .fusion-project-details-tb .project-info h4, .gform_wrapper .gfield_description, .gform_wrapper label, .jtwt .jtwt_tweet, .project-content .project-info h4, .review blockquote q, .sidebar .jtwt .jtwt_tweet, .sidebar .slide-excerpt h2, body {
    font-size: var(--body_typography-font-size);
}
#nav ul li ul li a, #sticky-nav ul li ul li a, #wrapper #nav ul li ul li > a, #wrapper #sticky-nav ul li ul li > a, .avada-container h3, .comment-form input[type="submit"], .ei-title h3, .fusion-blog-shortcode .fusion-timeline-date, .fusion-body #main .tribe-common .tribe-events-c-day-marker__date, .fusion-body #main .tribe-events .datepicker, .fusion-body .fusion-wrapper #main .tribe-common .tribe-common-h6--min-medium, .fusion-body .tribe-common .tribe-common-b2, .fusion-body .tribe-common .tribe-common-b3, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-categories, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .fusion-rollover-title, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content .price, .fusion-image-wrapper .fusion-rollover .fusion-rollover-content a, .fusion-load-more-button, .fusion-main-menu .sub-menu, .fusion-main-menu .sub-menu li a, .fusion-megamenu-widgets-container, .fusion-megamenu-wrapper .fusion-megamenu-submenu > a:hover, .fusion-megamenu-wrapper li .fusion-megamenu-title-disabled, .fusion-page-title-captions h3, .gform_page_footer input[type=button], .meta .fusion-date, .more, .review blockquote div strong, .review blockquote q, .ticket-selector-submit-btn[type=submit], body {
    font-family: var(--body_typography-font-family);
    font-weight: var(--body_typography-font-weight);
    letter-spacing: var(--body_typography-letter-spacing);
    font-style: var(--body_typography-font-style, normal);
}
body {
    margin: 0;
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--body_typography-color);
    font-size: var(--body_typography-font-size, 16px);
    font-family: var(--body_typography-font-family, inherit);
}
:root {
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
}
:root {
    --wp--preset--aspect-ratio--square: 1;
    --wp--preset--aspect-ratio--4-3: 4 / 3;
    --wp--preset--aspect-ratio--3-4: 3 / 4;
    --wp--preset--aspect-ratio--3-2: 3 / 2;
    --wp--preset--aspect-ratio--2-3: 2 / 3;
    --wp--preset--aspect-ratio--16-9: 16 / 9;
    --wp--preset--aspect-ratio--9-16: 9 / 16;
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--color--awb-color-1: #f8f5f2;
    --wp--preset--color--awb-color-2: #f8f5f2;
    --wp--preset--color--awb-color-3: #f8f5f2;
    --wp--preset--color--awb-color-4: #fbcf38;
    --wp--preset--color--awb-color-5: #8db1aa;
    --wp--preset--color--awb-color-6: #000000;
    --wp--preset--color--awb-color-7: #000000;
    --wp--preset--color--awb-color-8: #2c293d;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--font-size--small: 11.25px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 22.5px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--font-size--normal: 15px;
    --wp--preset--font-size--xlarge: 30px;
    --wp--preset--font-size--huge: 45px;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
Show all properties (8 more)
}
:root {
    --awb-color1: #f8f5f2;
    --awb-color1-h: 30;
    --awb-color1-s: 30%;
    --awb-color1-l: 96%;
    --awb-color1-a: 100%;
    --awb-color2: #f8f5f2;
    --awb-color2-h: 30;
    --awb-color2-s: 30%;
    --awb-color2-l: 96%;
    --awb-color2-a: 100%;
    --awb-color3: #f8f5f2;
    --awb-color3-h: 30;
    --awb-color3-s: 30%;
    --awb-color3-l: 96%;
    --awb-color3-a: 100%;
    --awb-color4: #fbcf38;
    --awb-color4-h: 46;
    --awb-color4-s: 96%;
    --awb-color4-l: 60%;
    --awb-color4-a: 100%;
    --awb-color5: #8db1aa;
    --awb-color5-h: 168;
    --awb-color5-s: 19%;
    --awb-color5-l: 62%;
    --awb-color5-a: 100%;
    --awb-color6: #000000;
    --awb-color6-h: 0;
    --awb-color6-s: 0%;
    --awb-color6-l: 0%;
    --awb-color6-a: 100%;
    --awb-color7: #000000;
    --awb-color7-h: 0;
    --awb-color7-s: 0%;
    --awb-color7-l: 0%;
    --awb-color7-a: 100%;
    --awb-color8: #2c293d;
    --awb-color8-h: 249;
    --awb-color8-s: 20%;
    --awb-color8-l: 20%;
    --awb-color8-a: 100%;
    --awb-typography1-font-family: Inter, Arial, Helvetica, sans-serif;
    --awb-typography1-font-size: 48px;
    --awb-typography1-font-weight: 600;
    --awb-typography1-font-style: normal;
    --awb-typography1-line-height: 1.2;
    --awb-typography1-letter-spacing: -0.015em;
    --awb-typography1-text-transform: none;
    --awb-typography2-font-family: Inter, Arial, Helvetica, sans-serif;
    --awb-typography2-font-size: 24px;
    --awb-typography2-font-weight: 600;
Show all properties (473 more)
}
:root {
    --adminbar-height: 0px;
}
:root {
    --button_padding: 11px 23px;
}
:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
}
.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .fusion-clearfix:after, .fusion-clearfix:before, .row:after, .row:before {
    content: " ";
    display: table;
}
.clearfix:after, .container-fluid:after, .container:after, .fusion-clearfix:after, .row:after {
    clear: both;
}
.clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .fusion-clearfix:after, .fusion-clearfix:before, .row:after, .row:before {
    content: " ";
    display: table;
}

